//variables
$primary: #009688;


$breakpoint-md: 767px;
$breakpoint-lg: 1023px;


//mixins
@mixin media($media) {
  @if $media == md {
    @media (min-width: $breakpoint-md) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  }
}