//variables
$primary: #009688;

// Fonts
$font-base: 10;

$mobile: 48em;
$tablet: 62em;
$desktop: 64.063em;

$maxWidth: 154rem;


@function px2rem($pixels, $context: $font-base) {
  @return ($pixels / $context) * 1rem;
}

//mixins
@mixin media($media) {
  @if $media == sm {
    @media (min-width: $mobile) { @content; }
  }
  @else if media == md {
    @media (min-width: $tablet) { @content; }
  }
  @else if $media == lg {
    @media (min-width: $desktop) { @content; }
  }
}
